Sketchbook/Sketchbook/bin/
Sketchbook/Sketchbook/obj/
Sketchbook/.vs/Sketchbook/v17/.suo
Sketchbook/.vs/Sketchbook/DesignTimeBuild/.dtbcache.v2
Sketchbook/.vs/Sketchbook/FileContentIndex/243d8cf0-00ee-4697-a612-6f023ae9cd81.vsidx
